<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="fragment-main">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <link rel="stylesheet" th:href="@{css/main.css}" />
</head>
<body>
  <main class="main">
    <div class="center">
      <div id="tab-all" class="content"></div>
      <div id="tab-iu" class="content"></div>
      <div id="tab-trip" class="content"></div>
    </div>

    <a href="#" id="btn_open"  th:onclick="button_onclick()">더보기</a>
  </main>
  
<script type="text/javascript" th:src="@{js/main.js}"></script>  
</body>
</html>