<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{css/header.css}" />
  <link rel="stylesheet" th:href="@{css/main.css}" />
  <link rel="stylesheet" th:href="@{css/nav.css}" />
  
  <link rel="stylesheet" th:href="@{css/login.css}">
  <link rel="stylesheet" th:href="@{css/common.css}">
  <link rel="shortcut icon"  th:href="@{imgs/instagram.png}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500;600;700&display=swap');
  </style>

  <style>
     body {
      font-family: 'IBM Plex Sans KR', sans-serif;
      margin: 0 auto;
      padding: 0;
      width: 1250px;
      height: 100vh;
      overflow: auto;
      /* 스크롤바 표시 지정 */
    }

    body::-webkit-scrollbar {
      /* 스크롤바 너비 지정 */
      width: 10px;
      /* 스크롤바 배경 색상 지정 */
      background-color: #f1f1f1;
    }

    /* body 스크롤바 thumb 스타일 지정 */
    body::-webkit-scrollbar-thumb {
      /* 스크롤바 thumb 색상 지정 */
      background-color: #ccc;
    }
  </style>
</head>

<body>
  <div class="container">
    <!-- -----헤더html------------------------ -->

    <header id="top">
      <span id="menu-button"></span>
      <div id="profile">
        <span id="profile-img"></span>
        <a href="#" id="profile-name">IUtheBEST</a>
        <span id="settings"></span>
        <!-- 아이콘링크명시하기<a target="_blank" href="https://icons8.com/icon/54151/%EA%B8%B0%EC%96%B4">기어</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
        <p id="user-name">이지은 님</p>
      </div>
      <span id="upload-button"></span>

      <p class="arrow" id="arrow-img">프로필 사진 변경</p>
      <p class="arrow" id="arrow-upload">업로드</p>
    </header>


    <!-- ------메인html---------------------- -->
    <section>
      <main class="main">
        <div class="center">
          <div id="tab-all" class="content"></div>
          <div id="tab-iu" class="content"></div>
          <div id="tab-trip" class="content"></div>
        </div>

        <a href="#" id="btn_open"  th:onclick="button_onclick()">더보기</a>
      </main>
    </section>


    <!-- --------사이드바html------------------------ -->
    <div id="sidebar">
      <div id="close-button"></div>
      <p id="menu"> &nbsp; 메뉴</p>
      <ul class="dep1">
        <li><a class="fa-solid fa-house" herf="#"><p>&nbsp; &nbsp;홈</p></a></li>
        <li><a class="fa-solid fa-magnifying-glass" href="#"><p>&nbsp; &nbsp;검색</p></a></li>
        <li><a class="fa-regular fa-paper-plane" href="#"><p>&nbsp; &nbsp;메시지</p></a></li>
        <li><a class="fa-regular fa-heart" href="#"><p>&nbsp; &nbsp;알림</p></a></li>
        <li><a class="fa-solid fa-list" href="#" id="my-post"><p>&nbsp; &nbsp;내 게시물</p></a>
          <ul class="panel" id="panel">
            <li><a th:herf="@{#tab-all}" class="btn">전체</a></li>
            <li><a th:href="@{#tab-iu}" class="btn">아이유</a></li>
            <li><a th:href="@{#tab-trip}" class="btn">여행</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!---------------- 모달은 되도록 body의 끝부분에 있어야!----------- -->
    <div class="modal">
      <div class="modal-body">
        <ul>
          <li><a href="#">프로필 변경</a></li>
          <li><a href="#">비밀번호 변경</a></li>
          <li><a href="#">화면 설정</a></li>
          <li><a href="#">로그아웃</a></li>
        </ul>
      </div>
    </div>
</div>
    <!-- ---------------html끝------------------------------------------ -->

    <script src="https://kit.fontawesome.com/3590bdbf3c.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" th:src="@{js/header.js}"></script> 
    <script type="text/javascript" th:src="@{js/main.js}"></script> 
    <script type="text/javascript" th:src="@{js/nav.js}"></script> 


</body>

</html>